## Introduction to Pandas

#### Importing and using the package

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd?

#### Data Structure 1: Series

In [15]:
np.random.random((10))
a = pd.Series(np.random.random((10)))

In [19]:
print(a)
print(a *10)

0    0.183774
1    0.264105
2    0.300663
3    0.755749
4    0.589682
5    0.492204
6    0.236154
7    0.617018
8    0.065146
9    0.024208
dtype: float64
0    1.837736
1    2.641054
2    3.006630
3    7.557486
4    5.896815
5    4.922043
6    2.361544
7    6.170176
8    0.651460
9    0.242083
dtype: float64

In [20]:
a[5]

0.4922042726164385

#### Data Structure 2: DataFrames

In [39]:
np.random.random((10, 10))
df = pd.DataFrame(np.random.random((10, 10)))

In [44]:
print(df.columns)
df[1]

RangeIndex(start=0, stop=10, step=1)

0    0.363852
1    0.993275
2    0.030570
3    0.260290
4    0.642792
5    0.815100
6    0.154566
7    0.256404
8    0.680736
9    0.286944
Name: 1, dtype: float64

In [ ]:
pd.DataFrame?

In [50]:
colnames = []
for i in range(len(df)):
    colnames.append('Column' + str(i))
print(colnames)

['Column0', 'Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6', 'Column7', 'Column8', 'Column9']

In [51]:
df = pd.DataFrame(np.random.random((10, 10)), columns=colnames)
print(df.columns)

Index(['Column0', 'Column1', 'Column2', 'Column3', 'Column4', 'Column5',
       'Column6', 'Column7', 'Column8', 'Column9'],
      dtype='object')

In [52]:
df['Column5']

0    0.463999
1    0.859967
2    0.774508
3    0.754662
4    0.186659
5    0.993677
6    0.762058
7    0.063958
8    0.844589
9    0.293757
Name: Column5, dtype: float64

#### Converting other structures to DataFrames

In [55]:
mylist = [4, 5, 6, 7, 8]
pd.DataFrame(mylist, columns = ["mycolumn"])

   mycolumn
0         4
1         5
2         6
3         7
4         8

In [65]:
mydict={"Breed": ["Cat", "Dog", "GuineaPig"], "Name": ["Meowy", "Bello", "Carmen"]}
pd.DataFrame(mydict)

In [71]:
print(pd.DataFrame(mydict))
print(pd.DataFrame.from_dict(mydict, orient='columns'))
print(pd.DataFrame.from_dict(mydict, orient='index'))

       Breed    Name
0        Cat   Meowy
1        Dog   Bello
2  GuineaPig  Carmen
       Breed    Name
0        Cat   Meowy
1        Dog   Bello
2  GuineaPig  Carmen
           0      1          2
Breed    Cat    Dog  GuineaPig
Name   Meowy  Bello     Carmen

In [72]:
pd.DataFrame.from_dict?

#### Applying functions to DataFrames