## Introduction to Pandas

#### Importing and using the package

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd?

#### Data Structure 1: Series

In [151]:
print(np.arange(10))

[0 1 2 3 4 5 6 7 8 9]

In [152]:
a = pd.Series(np.random.random(10))

print(a)

0    0.346133
1    0.797978
2    0.761719
3    0.478788
4    0.849617
5    0.887745
6    0.977799
7    0.405978
8    0.401578
9    0.991548
dtype: float64

In [153]:
print(a *10)

0    3.461333
1    7.979777
2    7.617191
3    4.787882
4    8.496171
5    8.877455
6    9.777988
7    4.059777
8    4.015781
9    9.915475
dtype: float64

#### Accessing elements in a DataFrame

In [154]:
a[5]

0.8877454852683951

In [155]:
b = pd.Series(np.arange(10), index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(b)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [156]:
print(b[5])
print(b['f'])

5
5

In [157]:
mydict = {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}
pd.Series(mydict)

a    0
b    1
c    2
d    3
e    4
dtype: int64

#### Data Structure 2: DataFrames

In [158]:
df_ser = pd.DataFrame(np.arange(10))
print(df_ser)

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [3]:
np.random.random((10, 10))
df = pd.DataFrame(np.random.random((10, 10)))
print(df)

          0         1         2         3         4         5         6  \
0  0.278398  0.991642  0.962954  0.593610  0.409016  0.014244  0.071259
1  0.744232  0.843309  0.340212  0.019733  0.083027  0.573683  0.173602
2  0.213663  0.795939  0.635456  0.849908  0.470937  0.078612  0.917608
3  0.805563  0.314081  0.220241  0.513322  0.577302  0.062898  0.640388
4  0.519163  0.053833  0.184116  0.690105  0.401094  0.367767  0.411050
5  0.243097  0.288858  0.411070  0.958209  0.119134  0.584089  0.556170
6  0.462275  0.522495  0.470589  0.550398  0.517598  0.119737  0.550688
7  0.915701  0.490747  0.789267  0.971289  0.306659  0.804132  0.667853
8  0.330196  0.862284  0.949409  0.433085  0.956318  0.469030  0.366640
9  0.653438  0.452215  0.865792  0.257897  0.794170  0.663363  0.535021

          7         8         9
0  0.151806  0.832836  0.702045
1  0.778364  0.650170  0.993420
2  0.197061  0.245932  0.665384
3  0.612356  0.050443  0.734475
4  0.477870  0.688851  0.027456
5  0.570679  0.547353  0.352900
6  0.349046  0.696146  0.216590
7  0.629340  0.299494  0.334285
8  0.283418  0.749471  0.885907
9  0.084399  0.387857  0.144285

In [160]:
print(df.columns)
print(df[1])

RangeIndex(start=0, stop=10, step=1)
0    0.640856
1    0.470079
2    0.629982
3    0.019234
4    0.260186
5    0.404245
6    0.946736
7    0.930340
8    0.116409
9    0.158928
Name: 1, dtype: float64

#### Using Column Names

In [5]:
colnames = ['Apple', 'Banana', 'Dog', 'Column3', 'Column4', 'Column5', 'Column6', 'Column7', 'Column8', 'Column9']

In [6]:
df_col = pd.DataFrame(np.random.random((10, 10)), columns=colnames)
print(df_col)

      Apple    Banana       Dog   Column3   Column4   Column5   Column6  \
0  0.931757  0.416676  0.475037  0.642926  0.472840  0.365111  0.205200
1  0.170295  0.777717  0.825614  0.033833  0.275209  0.779671  0.972183
2  0.034604  0.813118  0.465312  0.451381  0.552664  0.308334  0.195584
3  0.138506  0.213594  0.061691  0.676256  0.438829  0.226955  0.853863
4  0.876676  0.002425  0.510196  0.591695  0.108601  0.614305  0.285446
5  0.834501  0.465621  0.632964  0.982983  0.008135  0.743109  0.836091
6  0.723393  0.626358  0.905360  0.172461  0.465310  0.756730  0.244186
7  0.005026  0.324338  0.801712  0.393653  0.252150  0.341481  0.092873
8  0.143331  0.280236  0.360175  0.794206  0.988339  0.789065  0.771387
9  0.484824  0.530295  0.520144  0.985180  0.060006  0.935032  0.591275

    Column7   Column8   Column9
0  0.569476  0.114862  0.508273
1  0.994597  0.365849  0.848010
2  0.875810  0.213364  0.744819
3  0.204949  0.979778  0.830593
4  0.076473  0.740806  0.947103
5  0.566312  0.596734  0.383234
6  0.284091  0.309058  0.462365
7  0.453447  0.688400  0.727403
8  0.034584  0.298733  0.110234
9  0.441302  0.457355  0.797881

In [163]:
df_col.head()
df_col.head(3)
df_col.tail()

,Apple,Banana,Dog,Column3,Column4,Column5,Column6,Column7,Column8,Column9
5,0.008062,0.388985,0.965170,0.324583,0.969800,0.169117,0.360348,0.305695,0.945466,0.151928
6,0.668599,0.742115,0.512902,0.210390,0.462461,0.400269,0.924729,0.778438,0.715573,0.924678
7,0.404450,0.181880,0.504973,0.666939,0.869564,0.552127,0.143134,0.883804,0.742215,0.493872
8,0.952894,0.104806,0.581307,0.673884,0.398890,0.746759,0.659107,0.691952,0.653811,0.417676
9,0.324680,0.564644,0.129679,0.691449,0.124589,0.340759,0.028648,0.980458,0.063459,0.382132

#### Converting other structures to DataFrames

In [164]:
mylist = [4, 5, 6, 7, 8]
pd.DataFrame(mylist, columns = ["mycolumn"])

   mycolumn
0         4
1         5
2         6
3         7
4         8

In [165]:
mydict={"Breed": ["Cat", "Dog", "GuineaPig"], "Name": ["Meowy", "Bello", "Carmen"]}
pd.DataFrame(mydict)

       Breed    Name
0        Cat   Meowy
1        Dog   Bello
2  GuineaPig  Carmen

In [166]:
print(pd.DataFrame.from_dict(mydict, orient='columns'))
print(pd.DataFrame.from_dict(mydict, orient='index'))

       Breed    Name
0        Cat   Meowy
1        Dog   Bello
2  GuineaPig  Carmen
           0      1          2
Breed    Cat    Dog  GuineaPig
Name   Meowy  Bello     Carmen

In [167]:
pd.DataFrame.from_dict?

#### Applying functions to DataFrames

In [168]:
# taking the mean of each column
df_col.mean()
df_col.mean(axis=0)

Apple      0.429255
Banana     0.374633
Dog        0.479146
Column3    0.525023
Column4    0.551580
Column5    0.485944
Column6    0.435240
Column7    0.681344
Column8    0.599532
Column9    0.581511
dtype: float64

In [11]:
# taking the mean of each row
np.mean(df_col)

Apple      0.434291
Banana     0.445038
Dog        0.555821
Column3    0.572457
Column4    0.362208
Column5    0.585979
Column6    0.504809
Column7    0.450104
Column8    0.476494
Column9    0.635991
dtype: float64

In [12]:
df_col.mean()

Apple      0.434291
Banana     0.445038
Dog        0.555821
Column3    0.572457
Column4    0.362208
Column5    0.585979
Column6    0.504809
Column7    0.450104
Column8    0.476494
Column9    0.635991
dtype: float64

In [13]:
df_col

,Apple,Banana,Dog,Column3,Column4,Column5,Column6,Column7,Column8,Column9
0,0.931757,0.416676,0.475037,0.642926,0.472840,0.365111,0.205200,0.569476,0.114862,0.508273
1,0.170295,0.777717,0.825614,0.033833,0.275209,0.779671,0.972183,0.994597,0.365849,0.848010
2,0.034604,0.813118,0.465312,0.451381,0.552664,0.308334,0.195584,0.875810,0.213364,0.744819
3,0.138506,0.213594,0.061691,0.676256,0.438829,0.226955,0.853863,0.204949,0.979778,0.830593
4,0.876676,0.002425,0.510196,0.591695,0.108601,0.614305,0.285446,0.076473,0.740806,0.947103
5,0.834501,0.465621,0.632964,0.982983,0.008135,0.743109,0.836091,0.566312,0.596734,0.383234
6,0.723393,0.626358,0.905360,0.172461,0.465310,0.756730,0.244186,0.284091,0.309058,0.462365
7,0.005026,0.324338,0.801712,0.393653,0.252150,0.341481,0.092873,0.453447,0.688400,0.727403
8,0.143331,0.280236,0.360175,0.794206,0.988339,0.789065,0.771387,0.034584,0.298733,0.110234
9,0.484824,0.530295,0.520144,0.985180,0.060006,0.935032,0.591275,0.441302,0.457355,0.797881

In [20]:
df_col.mean(axis=1)

0    0.470216
1    0.604298
2    0.465499
3    0.462501
4    0.475373
5    0.604969
6    0.494931
7    0.408048
8    0.457029
9    0.580329
dtype: float64

In [22]:
df_col['Cat'] = "kittycat"

In [23]:
df_col

,Apple,Banana,Dog,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Cat
0,0.931757,0.416676,0.475037,0.642926,0.472840,0.365111,0.205200,0.569476,0.114862,0.508273,kittycat
1,0.170295,0.777717,0.825614,0.033833,0.275209,0.779671,0.972183,0.994597,0.365849,0.848010,kittycat
2,0.034604,0.813118,0.465312,0.451381,0.552664,0.308334,0.195584,0.875810,0.213364,0.744819,kittycat
3,0.138506,0.213594,0.061691,0.676256,0.438829,0.226955,0.853863,0.204949,0.979778,0.830593,kittycat
4,0.876676,0.002425,0.510196,0.591695,0.108601,0.614305,0.285446,0.076473,0.740806,0.947103,kittycat
5,0.834501,0.465621,0.632964,0.982983,0.008135,0.743109,0.836091,0.566312,0.596734,0.383234,kittycat
6,0.723393,0.626358,0.905360,0.172461,0.465310,0.756730,0.244186,0.284091,0.309058,0.462365,kittycat
7,0.005026,0.324338,0.801712,0.393653,0.252150,0.341481,0.092873,0.453447,0.688400,0.727403,kittycat
8,0.143331,0.280236,0.360175,0.794206,0.988339,0.789065,0.771387,0.034584,0.298733,0.110234,kittycat
9,0.484824,0.530295,0.520144,0.985180,0.060006,0.935032,0.591275,0.441302,0.457355,0.797881,kittycat

In [25]:
df_col['Cat'].mean()

TypeError: Could not convert kittycatkittycatkittycatkittycatkittycatkittycatkittycatkittycatkittycatkittycat to numeric

In [26]:
df_col['Binary'] = True

In [28]:
df_col.mean()

Apple      0.434291
Banana     0.445038
Dog        0.555821
Column3    0.572457
Column4    0.362208
Column5    0.585979
Column6    0.504809
Column7    0.450104
Column8    0.476494
Column9    0.635991
Binary     1.000000
dtype: float64

In [29]:
df_col['Binary'][0] = False

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
df_col

,Apple,Banana,Dog,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Cat,Binary
0,0.931757,0.416676,0.475037,0.642926,0.472840,0.365111,0.205200,0.569476,0.114862,0.508273,kittycat,False
1,0.170295,0.777717,0.825614,0.033833,0.275209,0.779671,0.972183,0.994597,0.365849,0.848010,kittycat,True
2,0.034604,0.813118,0.465312,0.451381,0.552664,0.308334,0.195584,0.875810,0.213364,0.744819,kittycat,True
3,0.138506,0.213594,0.061691,0.676256,0.438829,0.226955,0.853863,0.204949,0.979778,0.830593,kittycat,True
4,0.876676,0.002425,0.510196,0.591695,0.108601,0.614305,0.285446,0.076473,0.740806,0.947103,kittycat,True
5,0.834501,0.465621,0.632964,0.982983,0.008135,0.743109,0.836091,0.566312,0.596734,0.383234,kittycat,True
6,0.723393,0.626358,0.905360,0.172461,0.465310,0.756730,0.244186,0.284091,0.309058,0.462365,kittycat,True
7,0.005026,0.324338,0.801712,0.393653,0.252150,0.341481,0.092873,0.453447,0.688400,0.727403,kittycat,True
8,0.143331,0.280236,0.360175,0.794206,0.988339,0.789065,0.771387,0.034584,0.298733,0.110234,kittycat,True
9,0.484824,0.530295,0.520144,0.985180,0.060006,0.935032,0.591275,0.441302,0.457355,0.797881,kittycat,True

In [31]:
df_col.mean()

Apple      0.434291
Banana     0.445038
Dog        0.555821
Column3    0.572457
Column4    0.362208
Column5    0.585979
Column6    0.504809
Column7    0.450104
Column8    0.476494
Column9    0.635991
Binary     0.900000
dtype: float64

In [32]:
df_col

,Apple,Banana,Dog,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Cat,Binary
0,0.931757,0.416676,0.475037,0.642926,0.472840,0.365111,0.205200,0.569476,0.114862,0.508273,kittycat,False
1,0.170295,0.777717,0.825614,0.033833,0.275209,0.779671,0.972183,0.994597,0.365849,0.848010,kittycat,True
2,0.034604,0.813118,0.465312,0.451381,0.552664,0.308334,0.195584,0.875810,0.213364,0.744819,kittycat,True
3,0.138506,0.213594,0.061691,0.676256,0.438829,0.226955,0.853863,0.204949,0.979778,0.830593,kittycat,True
4,0.876676,0.002425,0.510196,0.591695,0.108601,0.614305,0.285446,0.076473,0.740806,0.947103,kittycat,True
5,0.834501,0.465621,0.632964,0.982983,0.008135,0.743109,0.836091,0.566312,0.596734,0.383234,kittycat,True
6,0.723393,0.626358,0.905360,0.172461,0.465310,0.756730,0.244186,0.284091,0.309058,0.462365,kittycat,True
7,0.005026,0.324338,0.801712,0.393653,0.252150,0.341481,0.092873,0.453447,0.688400,0.727403,kittycat,True
8,0.143331,0.280236,0.360175,0.794206,0.988339,0.789065,0.771387,0.034584,0.298733,0.110234,kittycat,True
9,0.484824,0.530295,0.520144,0.985180,0.060006,0.935032,0.591275,0.441302,0.457355,0.797881,kittycat,True

In [34]:
df_col['2xApple'] = 2*df_col['Apple']

In [35]:
df_col

,Apple,Banana,Dog,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Cat,Binary,2xApple
0,0.931757,0.416676,0.475037,0.642926,0.472840,0.365111,0.205200,0.569476,0.114862,0.508273,kittycat,False,1.863514
1,0.170295,0.777717,0.825614,0.033833,0.275209,0.779671,0.972183,0.994597,0.365849,0.848010,kittycat,True,0.340591
2,0.034604,0.813118,0.465312,0.451381,0.552664,0.308334,0.195584,0.875810,0.213364,0.744819,kittycat,True,0.069207
3,0.138506,0.213594,0.061691,0.676256,0.438829,0.226955,0.853863,0.204949,0.979778,0.830593,kittycat,True,0.277012
4,0.876676,0.002425,0.510196,0.591695,0.108601,0.614305,0.285446,0.076473,0.740806,0.947103,kittycat,True,1.753353
5,0.834501,0.465621,0.632964,0.982983,0.008135,0.743109,0.836091,0.566312,0.596734,0.383234,kittycat,True,1.669003
6,0.723393,0.626358,0.905360,0.172461,0.465310,0.756730,0.244186,0.284091,0.309058,0.462365,kittycat,True,1.446785
7,0.005026,0.324338,0.801712,0.393653,0.252150,0.341481,0.092873,0.453447,0.688400,0.727403,kittycat,True,0.010051
8,0.143331,0.280236,0.360175,0.794206,0.988339,0.789065,0.771387,0.034584,0.298733,0.110234,kittycat,True,0.286661
9,0.484824,0.530295,0.520144,0.985180,0.060006,0.935032,0.591275,0.441302,0.457355,0.797881,kittycat,True,0.969648

In [36]:
df_col["Five"] = 5
df_col

,Apple,Banana,Dog,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Cat,Binary,2xApple,Five
0,0.931757,0.416676,0.475037,0.642926,0.472840,0.365111,0.205200,0.569476,0.114862,0.508273,kittycat,False,1.863514,5
1,0.170295,0.777717,0.825614,0.033833,0.275209,0.779671,0.972183,0.994597,0.365849,0.848010,kittycat,True,0.340591,5
2,0.034604,0.813118,0.465312,0.451381,0.552664,0.308334,0.195584,0.875810,0.213364,0.744819,kittycat,True,0.069207,5
3,0.138506,0.213594,0.061691,0.676256,0.438829,0.226955,0.853863,0.204949,0.979778,0.830593,kittycat,True,0.277012,5
4,0.876676,0.002425,0.510196,0.591695,0.108601,0.614305,0.285446,0.076473,0.740806,0.947103,kittycat,True,1.753353,5
5,0.834501,0.465621,0.632964,0.982983,0.008135,0.743109,0.836091,0.566312,0.596734,0.383234,kittycat,True,1.669003,5
6,0.723393,0.626358,0.905360,0.172461,0.465310,0.756730,0.244186,0.284091,0.309058,0.462365,kittycat,True,1.446785,5
7,0.005026,0.324338,0.801712,0.393653,0.252150,0.341481,0.092873,0.453447,0.688400,0.727403,kittycat,True,0.010051,5
8,0.143331,0.280236,0.360175,0.794206,0.988339,0.789065,0.771387,0.034584,0.298733,0.110234,kittycat,True,0.286661,5
9,0.484824,0.530295,0.520144,0.985180,0.060006,0.935032,0.591275,0.441302,0.457355,0.797881,kittycat,True,0.969648,5

In [37]:
np.NaN

nan

In [38]:
df_col['MeanColumn'] = df_col.mean(axis=1)

In [39]:
df_col

,Apple,Banana,Dog,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Cat,Binary,2xApple,Five,MeanColumn
0,0.931757,0.416676,0.475037,0.642926,0.472840,0.365111,0.205200,0.569476,0.114862,0.508273,kittycat,False,1.863514,5,0.889667
1,0.170295,0.777717,0.825614,0.033833,0.275209,0.779671,0.972183,0.994597,0.365849,0.848010,kittycat,True,0.340591,5,0.952582
2,0.034604,0.813118,0.465312,0.451381,0.552664,0.308334,0.195584,0.875810,0.213364,0.744819,kittycat,True,0.069207,5,0.824938
3,0.138506,0.213594,0.061691,0.676256,0.438829,0.226955,0.853863,0.204949,0.979778,0.830593,kittycat,True,0.277012,5,0.838617
4,0.876676,0.002425,0.510196,0.591695,0.108601,0.614305,0.285446,0.076473,0.740806,0.947103,kittycat,True,1.753353,5,0.962083
5,0.834501,0.465621,0.632964,0.982983,0.008135,0.743109,0.836091,0.566312,0.596734,0.383234,kittycat,True,1.669003,5,1.055284
6,0.723393,0.626358,0.905360,0.172461,0.465310,0.756730,0.244186,0.284091,0.309058,0.462365,kittycat,True,1.446785,5,0.953546
7,0.005026,0.324338,0.801712,0.393653,0.252150,0.341481,0.092873,0.453447,0.688400,0.727403,kittycat,True,0.010051,5,0.776195
8,0.143331,0.280236,0.360175,0.794206,0.988339,0.789065,0.771387,0.034584,0.298733,0.110234,kittycat,True,0.286661,5,0.835150
9,0.484824,0.530295,0.520144,0.985180,0.060006,0.935032,0.591275,0.441302,0.457355,0.797881,kittycat,True,0.969648,5,0.982534