# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
# Import numpy, pandas and mysqlalchemy (following what you have learned in previous lessons):

import numpy as np
import pandas as pd
import sqlalchemy


# conda install -n kittycat sqlalchemy
# conda install -n kittycat pymysql

In [24]:
def div_5_7(num5):
    return (lambda x: num5/x)

div7 = div_5_7(5)

div7(10)

0.5

# Challenge 1 - Load and Evaluate the Datasets

#### In this challenge we will load two SQL tables from [this link](https://relational.fit.cvut.cz/dataset/Stats). We will then proceed to evaluate the data to see what type of cleaning and manipulation is necessary.

In the cell below, create a mysql engine using the link provided above.

In [5]:
# Your code here:

# syntax for create engine: dialect+driver://username:password@host:port/database
engine = sqlalchemy.create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

# conda install -n kittycat pymysql

print(engine)

Engine(mysql+pymysql://guest:***@relational.fit.cvut.cz:3306/stats)

Use this connection to load the `users` table. Load this table into a variable called `users`.

In [12]:
# Your code here:

users = pd.read_sql_query('SELECT * FROM users', engine)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### Let's start examining the dataset.

First look at the first five rows using the `head` function.

In [5]:
# Your code here:

Next, examine the column names and types to see if there is a type mismatch. Use the `dtypes` function.

In [6]:
# Your code here:

Finally, we'll examine the `describe` function to see the descriptive statistics for the numeric variables.

In [7]:
# Your code here:

#### Now let's load the posts table in the cell below.

Use the same mysql engine to load the posts table into a dataframe called `posts`.

In [8]:
# Your code here:

#### Let's repeat what we did with the `users` table and print the first 5 rows, the data types of each column and describe the numeric data.

Do this in the following 3 cells below.

In [11]:
# Your code here:

In [12]:
# Your code here:

In [13]:
# Your code here:

# Challenge 2 - Prepare the Datasets for Merging and Merge

#### We would like to join a subset of columns from each table. To ease the process, let's create a new dataframe containing a subset of columns for both `posts` and `users`

In the cell below, create a new dataframe called `posts_subset` containing only the columns: `Id`, `Score`, `OwnerUserID`, `ViewCount` ,`CommentCount`

In [14]:
# Your code here:

In the cell below, create a dataframe called `users_subset` containing only the columns `Id`, `Reputation`, `Views`, `UpVotes`, `DownVotes`.

In [15]:
# Your code here:

#### You will note that the Id column does not refer to the same thing in both tables. In the posts table, it refers to the post ID and in the users table it refers to the user ID. 

In the `users_subset` dataframe, rename the `Id` column to `UserId`. Do this using the option `inplace=True`.

In [16]:
# Your code here:

In the `posts_subset` dataframe, rename the `Id` column to `PostId`. Do this using the option `inplace=True`.

In [17]:
# Your code here:

We identify the only column that the two tables have in common as the user ID. However, this column is called `UserId` in the `users_subset` table and `OwnerUserId` in the `posts_subset` table. Using what we have previously learned about merging two dataframes and looking at the documentation [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html), merge the two dataframes. Name the merged dataframe `stackoverflow`.

In [18]:
# Your code here:

Check to see if you have kept both key columns (if you join by making one of the columns an index first, this can be avoided).

If both columns are present in `stackoverflow`, drop `OwnerUserId`. Do this using `inplace=True`.

In [19]:
# Your code here:

# Challenge 3 - Cleaning Up the Data

Now that we have merged the two dataframes, let's handle the missing values.

Find the number of missing values in each column by applying the `isna()` function to the dataframe. Then apply the `sum()` function to that to find the count of missing values in each column.

In [20]:
# Your code here:

We see that about half of all observations in the view count column are missing. Let's examine these observations and why they have missing data. Create a subset of rows that have a missing value in the `ViewCount`. Look at the `describe()` function for that subset. You output should look like in the table below.

![describe table](../describe-table.png)

In [21]:
# Your code here:

It seems that there is a mix of users. They do not have a high comment count but they do have some upvotes and downvotes. Therefore, it would not make sense to fill these values with zero. 

If we investigate further, we will see that there are some users that have view counts missing for some posts but not others. We will cover different ways of investigating further in future lessons. What we can certainly say is that we should not fill all cells with the same values. One way to fill the values is using linear interpolation. Linear interpolation assumes that there is a line between two points and places all observations between the two points along that line. You can read more about linear interpolation [here](https://en.wikipedia.org/wiki/Linear_interpolation).

To apply linear interpolation to our missing data, we use the `interpolate` function in pandas. You can read the documentation for this function [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.interpolate.html).

Apply the `interpolate` function to the `ViewCount` column. Use `inplace=True`

In [22]:
# Your code here:

# Bonus Challenge - Fill the Missing Data Using Linear Regression

We have learned about linear regression in the prework. To read more about linear regression in Python, click [here](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

Create a linear model where the Y variable is the `ViewCount` and the X variable is `Score`. Make sure to use only rows that do not contain `NaN` by filtering them out.

Use this regression model to produce a fitted value for every `NaN`. Using the `np.where` function, assign the predicted value only to rows where you have a `NaN`.

Tip: If you get an error when creating your linear model, reshape the data to the correct shape (a 2D array) by appending `.values.reshape(-1, 1)` to the column. Also, transform the predicted data from a numpy array back to a dataframe and use only one column.

In [23]:
# Your code here:

We have seen that both `UserId` and `PostsId` are treated as numeric even though they do not describe anything quantitative about the data. We would like to exclude them from any numeric calculations. To do this, we should change them from numeric to string. Transform each column from numeric to string using the `astype` function and pass the argument `'str'` to the function. Since we cannot do this in place, assign these new values back to their original column names.

In [24]:
# Your code here:

#### We would like to simplify the comment count variable by bucketing this variable. 

In the cell below, we have created 5 bins. Bucket this variable into equal width bins using the `cut` function. Create a new column called `CommentBins` and assign the bucketed data to this column.

In [25]:
comment_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
# Your code here: